<div class="container">
    <div class="row">
        <div class="col-md-3">
            <mat-card class="card">
                <div class="card-header bg-secondary">
                    <h1 class="card-title">Recent </h1>
                    <div class="card-category">Payment</div>
                </div>
                <div class="card-body bg-green">
                    <p>21/02/21</p>
                    <p>$120</p>

                </div>
            </mat-card>

            <br>
            <mat-card class="card">
                <div class="card-header bg-secondary">
                    <h1 class="card-title">Reciept</h1>
                    <div class="card-category">Paid</div>
                </div>
                <div class="card-body">
                    
                    <p>TransactionDate: 13/02/21</p>
                    <p>To    : Harare Lands</p>
                    <p>From  : Glen Chiridza</p>
                    <p>Amount: $1200</p>

                </div>
            </mat-card>
            
        </div>

        <div class="col-md-3">

            <mat-card class="card">
                <div class="card-header bg-secondary">
                    <h1 class="card-title">Owing</h1>
                    <div class="card-category">Total</div>
                </div>
                <div class="card-body bg-orange">
                    <p>Pay up </p>
                    <p>$120</p>

                </div>
            </mat-card>

            <br>

            <mat-card class="card">
                <div class="card-header bg-secondary">
                    <h1 class="card-title">Reciept</h1>
                    <div class="card-category">Paid</div>
                </div>
                <div class="card-body">
                    <p>TransactionDate: 12/02/21</p>
                    <p>To    : Harare Lands</p>
                    <p>From  : Glen Chiridza</p>
                    <p>Amount: $1200</p>

                </div>
            </mat-card>

        </div>

        <div  id="calculations" class="col-md-6">

            <mat-card class="card">
                <div class="card-header bg-secondary">
                    <h1 class="card-title">Personal</h1>
                    <div class="card-category">Account</div>
                </div>
                <div class="card-body">
                    <div class="card-content table-responsive table-full-width">
                        <table class="table">
                          <thead class="text-success">
                              <th>Date</th>
                            <th>Reference</th>
                            <th>Amt Paid</th>
                            <th>Credit Bal</th>
                          </thead>
                    
                          <tbody>
                            <tr>
                                <td>12/02/21</td>
                              <td>REF 23B23789B</td>
                              <td class="bg-text-green">$1200</td>
                              <td class="bg-text-red">($120)</td>
                            </tr>
                              <!--next payment-->
                              <tr>
                              <td>21/02/21</td>
                              <td>REF 23B23789B</td>
                              <td class="bg-text-green">$120</td>
                              <td class="bg-text-red">($0)</td>
                            </tr>
                          </tbody>
                          
                        </table>
                      </div>
                   
                </div>
            </mat-card>
           


    </div>
</div>
<br/>

</div>