<div class="container">
<div class="row">
<div class="col-md-3">
</div>

<div class="col-md-6">

<mat-toolbar>
  <span>LOGIN</span>
  <hr/>
  <div *ngIf="invalid" style="color:red">
{{alertUser}}
  </div>
</mat-toolbar>

<mat-card class="my-card">
   <mat-card-content>

  <h5>Demo username: <b>person@gmail.com</b> , password: <b>person</b></h5>
      <form class="my-form">
         <mat-form-field class="full-width">
            <mat-label>Email</mat-label>
            <input  [(ngModel)]="email" matInput  placeholder="Email" name="email">
         </mat-form-field>
         &nbsp; &nbsp; &nbsp;
         <mat-form-field class="full-width">
            <mat-label>Password</mat-label>
            <input [(ngModel)]="password" matInput  placeholder="Password" name="password">
         </mat-form-field>
      </form>
   </mat-card-content>
   <mat-card-actions>
      <button mat-raised-button (click)="login()" class="bg-orange">LOGIN</button>
   </mat-card-actions>
</mat-card>
</div>

<div  class="col-md-3">
</div>

</div>
</div>