<div class="container">
    <div class="row">
        <div class="col-md-3">
            <mat-card class="card">
                <div class="card-header bg-secondary">
                    <h1 class="card-title">Address</h1>
                    <div class="card-category">details</div>
                </div>
                <div class="card-body">
                  <p>12 Nyerere cnr Jmoyo</p>
                  <p>Town House, Harare</p>

                </div>
            </mat-card>

            <br>
            <mat-card class="card">
                <div class="card-header bg-secondary">
                    <h1 class="card-title">Contact</h1>
                    <div class="card-category">Details</div>
                </div>
                <div class="card-body">
                    <p>+263 42 0689 23</p>
                    <p>+263 42 020 433 Ext5</p>
                    <p>hararelands@gmail.com</p>
                </div>
            </mat-card>
            
        </div>

        <div class="col-md-3">

            <mat-card class="card">
                <div class="card-header bg-secondary">
                    <h1 class="card-title">Payment</h1>
                    <div class="card-category">Details</div>
                </div>
                <div class="card-body">
                   <p>CBZ: 12121000239823</p>
                   <p>FBC: 90012032839237</p>

                </div>
            </mat-card>

            <br>

            <mat-card class="card">
                <div class="card-header bg-secondary">
                    <h1 class="card-title">Buy land</h1>
                    <div class="card-category">Transact at home</div>
                </div>
                <div class="card-body">
                   <p> We provide legit land.</p>
                   <p> You can Trust us, </p>
                    <p>Harare Lands!</p>

                </div>
            </mat-card>

        </div>

        <div  id="calculations" class="col-md-6">

            <mat-card class="card">
                <div class="card-header bg-secondary">
                    <h1 class="card-title">Terms and Conditions</h1>
                    <div class="card-category">Details</div>
                </div>
                <div class="card-body">
                    <p>*Guidance on Buying Urban Land*

                        When buying stands the first thing is that you must ask for the relevant papers from the seller.
                        
                        These should then be verified with relevant authorities which may be Council, Registrar of Deeds, Surveyor General or Urban Stateland Office
                        
                        Ask for the following documents and information (The Proof):
                        1. For Private land Proof of ownership in the form of a Title Deed
                        1. For Government or Council land Valid Offer/Allocation letter and Agreement of sale between Government or Council and the Seller (in their name).
                        
                        2. On private land Approved Subdivision permit- issued by the relevant authority.
                        
                        2. On State or Council land approved layout plans have been approved.
                        3. Approved Survey Diagrams from the Surveyor General whether on Private, Government or Council land.
                        
                        4.Approved Engineering Designs for water, sewer and roads which would have been approved by Council Engineering Department.
                        
                        5. Approved infrastructure successfully implemented and approved on the site in the form of water, sewer and roads signed for by Council.
                        
                        6.Certificate of Compliance- issued by council certifying that 1- 5 above has been done to Council's satisfaction.
                        
                        The title deed of the property gives the legal name of the property which can be verified from the Registrar of Deeds after paying a very small fee, including the person who owns the property or stand. The offer letter can be verified with the Ministry of Local Government, Public Works & National Housing, through the Department of Stateland or Department of Physical Planning or relevant Local Authority.
                        
                        If someone holds an offer letter from Ministry of Lands, be suspicious because he/she needs to get a change of use permit from say agriculture to residential/housing, then layout has to be approved by Department of Physical Planning. Besides in Zimbabwe, State Agricultural land is not supposed to be sold by individuals.</p>
                </div>
            </mat-card>
           


    </div>
</div>
<br/>

</div>