.bg-orange {
    background-color:#006400;
}
.card-title {
    color:#fff;font-weight:700;
}
.card-category{
    color:#fff;font-weight:350;
}
.icon-color{
    color:#006400; font-size:50px;
}
div > .card {
    min-height:234px;
}
div {
    margin-bottom:10px;
}



@keyframes cardnotice {
    0% {top: 0px; display: none;}
    25% {top: 0px; display: none;}
    50% {display:block; top: 20%;}
    75% {display:block; top: 20%;}
    100% {display:block;top: 0px;}
}
.card-body .row > p {
    animation-name: cardnotice;
    animation-duration: 12s;
    animation-timing-function: ease-in-out;
}

